body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

* {
  .border-radius(0) !important;
}

#field {
    margin-bottom:20px;
}

#fielda {
    margin-bottom:20px;
}

/* 
    Text fields 
*/
div.input-group-option:last-child span.input-group-addon-remove{
    display: none;
}

div.input-group-option:last-child span.input-value {

    display: none;
}

div.input-group-option:last-child input.form-control{
    border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

div.input-group-option span.input-group-addon-remove{
	cursor: pointer;
}

div.input-group-option{
    margin-bottom: 3px;
}

/* 
    Selects 
*/

div.input-group-multiple-select:last-child span.input-group-addon-remove{
	display: none;
}

div.input-group-multiple-select:last-child input.form-control{
	/*border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;*/
    border-radius: 10px !important;
    display: none;
}

div.input-group-multiple-select span.input-group-addon-remove{
	cursor: pointer;
    background: none;
    border: none;
}

div.input-group-multiple-select{
    margin-bottom: 5px;
}